.tc-toolbox-row {
  position: absolute;
  transform: translate(-170%, -50%);
  cursor: pointer;
  z-index: 1;
  visibility: hidden;;
}

.tc-toolbox-column {
  position: absolute;
  transform: translate(-50%, -120%);
  cursor: pointer;
  z-index: 1;
  visibility: hidden;
}